{%- if site.disqus.shortname or page.comments != false -%}
<div id="disqus_thread" style="margin-top: 3rem;"></div>
<script>
    var disqus_config = function () {
        this.page.url = "https://dirtyboots95.github.io/{{ page.url }}";
        this.page.identifier = "{{ page.id }}";
    };
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://dirtyboots95.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
{%- endif -%}