{%- assign list_config = include.post_list -%}
{%- assign category_name = list_config.category -%}

{%- if category_name -%}
  {%- assign posts_source = site.categories[category_name] | default: "" -%}
{%-else-%}
  {%- comment -%}If no category is specified, use all posts.{%- endcomment -%}
  {%- assign posts_source = site.posts -%}
{%-endif-%}

{%- if posts_source.size > 0 -%}
  <ul>
    {%- for post in posts_source limit: list_config.limit -%}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      -
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.theme_config.date_format }}</time>
    </li>
    {%- endfor -%}
  </ul>
  {%- if list_config.show_more and posts_source.size > list_config.limit -%}
  <p><a href="{{ list_config.show_more_url | relative_url }}">{{ list_config.show_more_text }}</a></p>
  {%- endif -%}
{%- endif -%}
