---
layout: default
---

<h2>{{ page.title }}</h2>

{%- assign category_name = page.category -%}
{%- if category_name -%}
{%- assign posts_source = site.categories[category_name] -%}
{%- else -%}
{%- assign posts_source = site.posts -%}
{%- endif -%}

<ul>
    {% for post in posts_source reversed %}
    <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        -
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.theme_config.date_format }}
        </time>
    </li>
    {% endfor %}
</ul>